/* Styles communs à la page */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*body*/
body{
    font-family: 'Raleway', Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
}
h1{
    font-size: 21px;
    font-weight: bold;
}

h2{
    font-size: 15px;
    font-weight: bold;
}

#blocpage{
    width: 90%;
    margin: auto;
}

a{
    text-decoration: none;
    color: #000000;
}


/*En-tête*/

header{
    display:flex;
    justify-content:space-between;
}
#logo {
    display: flex;
}
nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap-reverse;
}

nav li{
    margin: 10px;
}

a.navigation:link, a.navigation:visited {
    color: #000000;
    text-decoration: none;
}


a.navigation:hover, a.navigation:active{
    color: #0065FC;
    border-top: 3px #0065FC solid;
    padding-top: 25px;
}

#inscription{
    color: #0065FC;
    font-weight: bold;
    margin: 16px;
    flex-wrap: wrap-reverse;
}

/* Formulaire*/
form{
    display: flex;
    justify-content: flex-start;
}

input[type=text]{
    border: 1px solid #f2f2f2;
    padding: 16px 32px;
    margin: 0;
}
input[type=submit]{
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #0065FC;
    text-decoration: none;
    padding: 16px 32px;
    background-color: #0065FC;
    border-radius:0px 12px 12px 0px ;
    margin: 0px;
    cursor: pointer;
}

#map{
    font-size: 16px;
    background-color: #f2f2f2;
    border: #f2f2f2 solid;
    border-radius: 12px 0px 0px 12px;
    padding: 16px;
    margin: 0px;
}

/*Filtres*/

div[id*="filter"] h2, ul{
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-start;
    flex-wrap: wrap;
}
div[id*="filter"] li{
    margin: 10px;
    border: 2px solid #f2f2f2;
    border-radius: 25px 25px 25px 25px;
    font-weight: bold;
    padding: 0 15px 0 0;
    z-index: 1;
   
}
a.filtres:link, a.filtres:visited{
    color: black;
    text-decoration: none;
}
li.filtres:hover{
    background-color: #0065FC;
    border-radius: 25px 25px 25px 25px;
    

}

li i{
    color: #0065FC;
    background-color: #deebff;
    border-radius: 50%;
    padding: 14px;
    margin-right: 10px;
    border: 1px solid #deebff;
    z-index: 2;
    
    
}
p i{
    color: #0065FC;
    border: 2px solid #f2f2f2;
    border-radius: 100%;
    padding: 7px 10px 7px 10px;
    margin-right: 10px;
    font-size: 0.7em;
   
}

/*Information*/

/*Cartes section milieu*/
.part{
    background-color: #f2f2f2;
    border-radius: 25px;
    margin: 0;
    padding: 0;
}

.milieu{
    display: flex;
    justify-content: space-around;
    
}



/*Cartes hébergements*/


section[id="rooms"]{
    max-width: 850px;
    display: flex;
    flex-direction: column;
}

.cartes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

.lignes{
    width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}

.image{
    display: flex;
    position: relative;
	flex: 1;
	max-width: 300px;
	height: 250px;
	margin: 20px;
	overflow: hidden;
}

img.contour{
    width: 225px;
    height: 125px;
    object-fit: none;
    border: 5px solid #ffffff;
    border-radius: 25px 25px 0 0;
    position: relative;
      
}

div[class="image"] a{
    background-color: #ffffff;
    border-radius: 25px;
}

span[class="blue"]{
    color: #0065FC;
}
span[class="grey"]{
    color: #f2f2f2;
}



/*Cartes populaire*/
aside{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 300px;
}

#chart{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}


/*Bas de page*/
footer{
    display: flex;
    justify-content:flex-start ;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 30px 0 0 0;
    width: 100%;
}

footer div{
    width: 350px;
}

footer ul{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 1.9;

}

footer h2{
    margin-left: 40px;
    margin-right: 80px;
}