/* Styles communs à la page */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Raleway', Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
}
h1{
    font-size: 21px;
    font-weight: bold;
}

h2{
    font-size: 15px;
    font-weight: bold;
}

#blocpage{
    width: 90%;
    margin: auto;
}

a{
    text-decoration: none;
}


/*En-tête*/

header{
    display:flex;
    justify-content:space-between;
}
#logo {
    display: flex;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav li{
    margin: 10px;
}

a.navigation:link, a.navigation:visited{
    color: #000000;
    text-decoration: none;
}

a.navigation:hover{
    color: #0065FC;
    border-top: 3px #0065FC solid;
    padding-top: 25px;
}

#inscription{
    color: #0065FC;
    font-weight: bold;
}

/* Formulaire*/
input[type=text]{
    border: 1px solid #f2f2f2;
    padding: 16px 32px;
    margin-right: 0px;
}
input[type=submit]{
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #0065FC;
    text-decoration: none;
    padding: 16px 32px;
    background-color: #0065FC;
    border-radius:0px 12px 12px 0px ;
    margin-left: 0px;
    cursor: pointer;
}

#map{
    font-size: 16px;
    background-color: #f2f2f2;
    border: #f2f2f2 solid;
    border-radius: 12px 0px 0px 12px;
    padding: 14px;
    margin: 0px;
}

/*Filtres*/

div[id*="filtres"] h2, ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
}
div[id*="filtres"] li{
    margin: 10px;
    border: 2px solid #f2f2f2;
    border-radius: 25px 25px 25px 25px;
    font-weight: bold;
    padding: 2px;
}
a.filtres:link, a.filtres:visited{
    color: black;
    text-decoration: none;
}
a.filtres:hover{
    background-color: #0065FC;
}
div[id*="filtres"] i{
    color: #0065FC;
    border:1px #deebff solid;
    border-radius: 50%;
    padding: 17px;
    background-color: #deebff;
}

/*Information*/
.fas fa-info{
color: #0065FC;
border: 1px #0065FC solid;
border-radius: none;
}