/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */


/* Styles communs à la page */
body{
    font-family: 'Raleway', Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    max-width: 1300px;
}

.conteneur{    
    margin: auto;
    max-width: 1300px;
    padding-left: 20px;
    padding-right: 20px;    
}

h1{
    font-size: 21px;
    font-weight: bold;
}

h2{
    font-size: 21px;
    font-weight: bold;
}

h3{
    font-size: 15px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #000000;
}


/*En-tête Logo et navigation*/

.navigation{
    margin-bottom: 30px;
}

.navigation nav{
    display: flex;
    justify-content: flex-end;
}

.navigation img{
    position: absolute;
    margin-top: 15px;
    width: 100px;
}


.navigation ul{
    list-style-type: none;
    display: flex;    
    margin: 0 0 0 900px;
    font-size: 1em;
    padding: 0;
    text-align: end;
    flex-wrap: nowrap;
}

.navigation li{
   display: block;
   padding-top: 31px;
   width: 120px;
   text-align: center;
}

.navigation li:hover{
    
    box-shadow: inset 0 2px 0 0 #0065FC;
}

.navigation li a:hover{
    color: #0065FC;
}

.navigation p{
    padding-top: 31px;
}

#inscription{
    color: #0065FC;
    font-weight: bold;
    margin: 16px;
    width: auto;
}


/* En-tête Formulaire de recherche*/

form{
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
}

#map{
    font-size: 16px;
    background-color: #f2f2f2;
    border: #f2f2f2 solid;
    border-radius: 12px 0px 0px 12px;
    padding: 16px;
    margin: 0px;
}

.input{
    border: 2px solid #f2f2f2;
    padding: 16px 32px;
    margin: 0;
}
.input::placeholder{
    font-size: 15px;
    color: #000000;
    font-weight: bold;
}
.submit{
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #0065FC;
    text-decoration: none;
    padding: 16px 32px;
    background-color: #0065FC;
    border-radius:0px 12px 12px 0px ;
    margin: 0px;
    cursor: pointer;
}

.fa-search {
    opacity: 0;
    position: absolute;
    padding-left: 80px;
    font-size: 1.2em;
}
   


/*En-tête Filtres*/

.filter{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.filter h3, ul{
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.filter li{
    margin: 10px;
    border: 2px solid #f2f2f2;
    border-radius: 25px 25px 25px 25px;
    font-weight: bold;
    padding: 0 15px 0 0;   
}

.filtres{
    display: inline-block;
}

li.filtres:hover{
    background-color: rgba(222, 235, 255, 0.8);
    border-radius: 25px 25px 25px 25px;
    

}

li i{
    color: #0065FC;    
    border-radius: 50%;
    padding: 15px;
    margin-right: 10px;
    font-size: 1em;    
}

.entouragefiltre{
    display: flex;
    align-items: center;
}

.cerclefiltre{
    display: flex;        
    align-items: center;
    background-color: #deebff;
    border: 1px solid #deebff;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin: -3px;
}

.fa-child{
    padding-left: 18px;
}

.textefiltre{
    margin-left: 10px;
}

/*En-tête Information*/

p i{
    color: #0065FC;
    border: 2px solid #f2f2f2;
    border-radius: 100%;
    padding: 7px 10px 7px 10px;
    margin-right: 10px;
    font-size: 0.7em;   
}

.information{
    padding-bottom: 35px;
}

/*Main*/

main{
    margin-bottom: 40px;
}

/*Main Section Hébergements et populaires*/


.sectionhebergement{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    margin-bottom: 20px;
}

.rooming-blocks{
    background-color: #f2f2f2;
    border-radius: 25px;
    margin: 0;
    padding: 15px;
    height: auto;
}

.blue{
    color: #0065FC;
}

.grey{
    color: #d8d8d8;
}



/*Main Cartes hébergements*/

.rooms{
    margin:0 15px 0 0;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex: 60%;
    
}

.hbgtitre, .hbgplus{
    padding-left: 20px;
}

.carteshebergement{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    padding-left: 0px;
    width: 100%;
    justify-content: center;
}


.cartehbg{
    display: flex;
    flex-direction: column;
    position: relative;
	max-width: 300px;
	height: auto;
	margin: 20px;
    background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.5);
    border-radius: 25px 25px 25px 25px;
    
}

img.cardimagehbg{
    width: 225px;
    height: 125px;
    object-fit: cover;
    border: 5px solid #ffffff;
    border-radius: 25px 25px 0 0;
    position: relative;
      
}

.textehbg{
    padding-left: 15px;
    line-height: 1.5;
}

.textehbg h3, p{
    margin: 0;
}

.cartehbg a{
    background-color: #ffffff;
    border-radius: 25px;
    line-height: 1.5;
}





/*Main Cartes populaire*/
aside{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 20%;
    padding: 20px;
    box-sizing: border-box;
    height: auto;
    justify-content: flex-start;
    
}

.cartespopulaires{ 
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    justify-content: space-around;
    align-items: center;

}

#popular{
    margin-left: 15px;
}

.fas\ fa-chart-line{
    font-size: 21px;
    font-weight: bold;
}
#chart{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 25px 30px 0px 30px;
    align-items: baseline;
}

#chart h2{
    margin-top: 0;
}

.imagepopulairecontour{
    display: flex;
    position: relative;
	max-height: 250px;	
	margin: 20px;
    height: 155px;
	overflow: hidden;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.5);
    border-radius: 25px 25px 25px 25px;
    background-color: #ffffff;  
    width: 100%;
}

img.imagepopulaire{
    width: 160px;
    min-height: 145px;
    max-height: 145px;
    object-fit: cover;
    border: 5px solid #ffffff;
    border-radius: 25px 0px 0px 25px;
    position: relative;
      
}

.imagepopulairecontour a{
    display: flex;
}

.textepopulaire{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}

.etoiles{
    display: flex;
}

/*Main Activités*/

#activites{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    flex-wrap: wrap;
}

.titreactivites{
    margin: 40px;
}
.partieactivites{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
        
}
.colonne{
    flex: 21%;
    min-height: 100px;
    padding: 20px 20px 0 20px;    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 450px;    
    justify-content: space-between;
}

#smallcardone{
    height: 220px;
    min-height: 100px;
    padding-bottom: 20px;
}



#smallcardtwo{
    height: 150px;
    min-height: 140px;
    padding-bottom: 20px;
}

#smallcardthree{
    height: 170px;
    min-height: 100px;
    padding-bottom: 20px;
}

#smallcardfour{
    height: 200px;
    min-height: 100px;
    padding-bottom: 20px;
}

.cartesactivites{
    min-width: 250px;
    height: 450px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.5);
    border-radius: 25px;
}

.cartesactivites img{
    width: 100%;
    height: 85%;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

.bigimage img{
    height: 400px;
}

#smallcardone img{
    height: 190px;
}

#smallcardtwo img{
    height: 120px;
}

#smallcardthree img{
    height: 140px;
}

#smallcardfour img{
    height: 170px;
}

div.descriptionlieu{
    padding: 5px 5px 5px 20px;
    font-weight: bold;
}

/*Bas de page*/
footer{
    display: flex;
    justify-content:flex-start ;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 60px 0 0 0;
    width: 100%;
}

footer div{
    width: 350px;
}

footer ul{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 1.9;

}

footer h3{
    margin-left: 40px;
    margin-right: 80px;
}


   
/*Screen sizes*/  

/*Computer screen*/

@media all and (max-width: 1200px){
   
   .sectionhebergement{
       flex-direction: column-reverse;
   }

   .sectionhebergement aside{
        margin-left: 0px;
        margin-bottom: 30px;
   }

   .rooms{
       margin-right: 0;
   }

   #popular{
       margin-left: 0;
   }


}

@media all and (max-width: 600px){

    .navigation nav{
        flex-wrap: wrap;
        position: relative;
        flex-direction: column-reverse;
        display: flex;      

    }

    .navigation{
        margin-bottom: 40px;
    }

    .navigation nav p{
        text-align: end;
        margin-left: 0;
    }

    .navigation ul{
        margin-top: 10px;
        margin-left: 0;
    }

    .navigation li{
        padding-top: 28px;
        padding-bottom: 15px;
        width: 50%;
        box-shadow: inset 0px -3px 0px 0px #F2F2F2;
    }

    .navigation li:hover{
        box-shadow: inset 0px -3px 0px 0px #0065fc;
    }

    .navigation li a:hover{
        color: #0065fc;
    }

    .cartehbg{
        max-width: 400px;
        margin: 10px;
    }

    img.cardimagehbg {
        width: 390px;
        height: 125px;
        object-fit: cover;
        border: 5px solid #ffffff;
        border-radius: 25px 25px 0 0;
        position: relative;
          
    }
}

@media all and (max-width: 480px){

    .conteneur{
        max-width: 1300px;
        padding-right: 0px;
        padding-left: 0px;

    }

 /*En-tête Navigation Phone*/
        
    .navigation img{
        position: absolute;
        margin: 15px;
    }
    #inscription{
        text-align: end;
    }

    /*En-tête Recherche*/

    .search{
        margin-bottom: 20px;
        padding-left: 20px;
    }

    form{
        width: 100%;
        font-size: 1em;
    }

    .search p{
        margin-bottom: 30px;
    }

    .fa-search{
        opacity: 1;
        padding-left: 0px;
        font-size: 1.1em;
    }

    .submit{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        margin-left: -15px;
        border: none;
        padding: 16px 26px;
    }

    .rechercher{
        display: none;
    }

    /*Filtres*/

    .filter{
        padding-right: 0;
        padding-left: 20px;
    }

    .filter ul{
        padding-left: 0px;
    }
 
 
    .filtres{
        flex-wrap: wrap;
    }

    /*Information*/
    .information{
        padding-left: 20px;
    }

/*Main*/

    /*Main Populaire*/

    #popular{
        border-radius: 0px;
    }

    .sectionhebergement aside{
        margin-bottom: 10px;
    }

    .imagepopulairecontour {	
        margin: 10px 15px;
    }

    /*Main Hébergement*/

    .rooms{
        background-color: #ffffff;
    }

    .hbgtitre{
        padding-left: 10px;
    }

    .cartehbg{
        max-width: 400px;
        margin: 10px;
    }

    img.cardimagehbg {
        width: 320px;
        height: 125px;
        object-fit: cover;
        border: 5px solid #ffffff;
        border-radius: 25px 25px 0 0;
        position: relative;
          
    }

    .hbgplus{
        padding-left: 10px;
    }

    /*Main Activités*/

    .partieactivites{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .titreactivites{
        margin: 0 0 20px 20px;
    }

    .colonne{
        height: auto;
    }

    .deuximages{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .cartesactivites{
        height: 235px;
    }

    #smallcardone, #smallcardthree{
        height: 235px;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }

    #smallcardtwo, #smallcardfour{
        height: 235px;
        padding-bottom: 0px;
        margin-top: 10px
    }

    

    .bigimage img{
        height: 185px;
    }

    #smallcardone img{
        height: 185px;

    }

    #smallcardtwo img{
        height: 185px;
    }

    #smallcardthree img{
        height: 185px;
    }

    #smallcardfour img{
        height: 185px;
    } 

/*Footer*/
    footer{
        flex-direction: column;
        width: auto;
    }
}